.container_login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  .box_alert {
    margin: 2em 0;
  }
  img {
    height: 60px;
    margin-bottom: 3em;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    .box_input {
      display: flex;
      flex-direction: column;
      width: 320px;
    }
  }
}
