@import "./theme";

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  padding: 0;
  &::selection {
    color: $secondary-light;
    background-color: $primary;
  }
}

img {
  &::selection {
    color: $secondary-light;
    background-color: $secondary-light;
  }
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}
