$primary: #2e9bfa;
$primary-light: #85c7fd;
$primary-shadow: #2b8bdf;

$secondary: #0a234b;
$secondary-light: #f9f5ff;
$basic-dark: #1c1c1c;
$basic-light: #ffffff;
$success: #20ce6d;
$success-light: #a5ebc4;
$error: #f54f78;
$disabled: #eaeaea;
