/* ******** GOTHAM BOLD ******** */

@font-face {
  font-family: "Gotham-bold";
  src: url("../../assets/webfonts/gotham/Gotham-Bold.otf") format("opentype");
}

$brand-font-primary-bold: "Gotham-bold";

/* ******** GOTHAM MEDIUM ******** */

@font-face {
  font-family: "Gotham-medium";
  src: url("../../assets/webfonts/gotham/GothamMedium.ttf") format("truetype");
}

$brand-font-primary-medium: "Gotham-medium";

/* ******** GOTHAM LIGHT ******** */

@font-face {
  font-family: "Gotham-light";
  src: url("../../assets/webfonts/gotham/GothamLight.ttf") format("truetype");
}

$brand-font-primary-light: "Gotham-light";

/* ******** POPPINS MEDIUM ******** */

@font-face {
  font-family: "Poppins-medium";
  src: url("../../assets/webfonts/poppins/Poppins-Medium.ttf")
    format("truetype");
}

$brand-font-primary-medium: "Poppins-medium";
