.container_dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  hr {
    height: 6px;
    border: none;
    width: 100px;
    margin: 0.8em 0.3em;
  }
}
