@import "../helpers/mixins";

.card {
  background-color: rgba(248, 247, 247, 0.801);
  height: 320px;
  width: 400px;
  border-radius: 10px;
  margin: 1em;
  padding: 2em;
  @include media(tablet) {
    width: 300px;
  }
}
