@import "../base/theme";

.primary-color {
  color: $primary;
}
.secondary-color {
  color: $secondary;
}
.secondary-light-color {
  color: $secondary-light;
}

.basic-light-color {
  color: $basic-light;
}

.basic-dark-color {
  color: $basic-dark;
}

.error-color {
  color: $error;
}

.success-color {
  color: $success;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-light {
  background-color: $secondary-light;
}

.bg-basic-light {
  background-color: $basic-light;
}

.bg-basic-dark-color {
  background-color: $basic-dark;
}

.primary-border {
  border: 2px solid $primary !important;
}

.error-border {
  border: 2px solid $error !important;
}
