@import "../base/_typography";
@import "../base/_theme";
@import "../helpers/_mixins.scss";

.heading {
  &-l {
    font-family: $brand-font-primary-bold;
    font-size: 35px;
    &--light {
      font-family: $brand-font-primary-medium;
      font-size: 40px;
    }
  }
  &-m {
    font-family: $brand-font-primary-medium;
    font-size: 17px;
  }
}

.body {
  &-l {
    font-family: $brand-font-primary-medium;
    font-size: 20px;
  }
  &-s {
    font-family: $brand-font-primary-bold;
    font-size: 14px;
    &--light {
      font-family: $brand-font-primary-medium;
      font-size: 15px;
    }
  }
  &-xs {
    font-family: $brand-font-primary-bold;
    font-size: 12px;
    &--light {
      font-family: $brand-font-primary-medium;
      font-size: 12px;
    }
  }
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.hyphens {
  hyphens: auto;
}
