@import "../base/typography";
@import "../base/theme";

$this: ".btn";

#{$this} {
  &--squared {
    height: 60px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 0.4rem;
    color: white;
    font-size: 0.9em;
    font-family: $brand-font-primary-bold;
    &-primary {
      background-color: $primary;
      &:hover {
        background-color: $primary-shadow;
      }
    }
    &-danger {
      background-color: $error;
      &:hover {
        background-color: $error-dark;
      }
    }
    &-success {
      background-color: $success;
      &:hover {
        background-color: $success-dark;
      }
    }
    &-warning {
      background-color: $warning;
      &:hover {
        background-color: $warning-dark;
      }
    }
  }
  &--rounded {
    height: 30px;
    width: 130px;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 4rem;
    &-primary {
      background-color: $primary;
      color: white;
      font-size: 1.2em;
      font-family: $brand-font-primary-bold;
      &:hover {
        background-color: $primary-shadow;
      }
    }
    &--mobile {
      height: 40px;
      width: 190px;
    }
  }
}
