@import "../base/typography";
@import "../base/theme";
@import "../helpers/mixins.scss";

$this: ".input";

#{$this} {
  height: 65px;
  width: 100%;
  background-color: #f7f7f7;
  font-size: 15px;
  font-weight: 700;
  padding: 0 12px;
  border-radius: 3px;
  border: none;
  margin: 1.3em 0;
  margin-bottom: 2em;
  color: $secondary;
  background-size: 20px;
  background-repeat: no-repeat;
  &::placeholder {
    color: rgb(211, 211, 211);
  }
  &--icon-right--error {
    background-image: url("../../assets/iconography/error.png");
    background-position: calc(100% - 12px) center;
  }
  @include media(tablet) {
    height: 60px;
  }
  &:focus {
    border-bottom: 2px solid $primary;
    &::placeholder {
      color: $primary-light;
    }
  }
}

.placeholder {
  &--error {
    &::placeholder {
      color: $error;
    }
    &:focus {
      &::placeholder {
        color: $error;
      }
    }
  }
}
